In [1]:
import psycopg2

try:
    conn = psycopg2.connect("host= 127.0.0.1 dbname=udacity user=postgres password=poklpokl")
except psycopg2.Error as e:
    print("Error: Could not make connectino to the database")
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get coursor to the Database")
    print(e)

conn.set_session(autocommit=True)

In [2]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_store (transaction_id int, customer_name varchar,\
     cashier_name varchar, year int, albums_purchased text[]);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("INSERT INTO music_store (transaction_id, customer_name, cashier_name,\
            year, albums_purchased)\
            VALUES (%s, %s, %s, %s, %s)", \
            (1, "Amanda", "sam", 2000, ["Rubber Soul", "Let it Be"]))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

In [3]:
try: 
    cur.execute("INSERT INTO music_store (transaction_id, customer_name, cashier_name,\
            year, albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, "Toby", "Sam", 2000, ["My Generation"]))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (transaction_id, customer_name, cashier_name,\
            year, albums_purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, "Max", "Bob", 2000, ["Meet the beatles", "Help"]))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [4]:
try: 
    cur.execute("SELECT * FROM music_store;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'sam', 2000, ['Rubber Soul', 'Let it Be'])
(2, 'Toby', 'Sam', 2000, ['My Generation'])
(3, 'Max', 'Bob', 2000, ['Meet the beatles', 'Help'])

In [5]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store2 (transaction_id varchar, customer_name varchar,\
     cashier_name varchar, year int, album_name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [6]:
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name,\
        year, album_name) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, "Amanda", "sam", 2000, "Rubber Soul"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [7]:
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name,\
        year, album_name) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, "Amanda", "sam", 2000, "Let it Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name,\
        year, album_name) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, "Toby", "sam", 2000, "My Generation"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name,\
        year, album_name) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, "Max", "bob", 2000, "Meet the Beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name,\
        year, album_name) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, "Max", "bob", 2000, "Help !"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [8]:
try: 
    cur.execute("SELECT * FROM music_store2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('1', 'Amanda', 'sam', 2000, 'Rubber Soul')
('1', 'Amanda', 'sam', 2000, 'Let it Be')
('2', 'Toby', 'sam', 2000, 'My Generation')
('3', 'Max', 'bob', 2000, 'Meet the Beatles')
('3', 'Max', 'bob', 2000, 'Help !')

In [14]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions (transaction_id int, customer_name varchar, \
        cashier_name varchar, year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS albums_sold (album_id int, transaction_id int, album_name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [11]:
try:
    cur.execute("INSERT INTO transactions(transaction_id, customer_name, cashier_name, year)\
        VALUES(%s, %s, %s, %s)", \
            ('1', 'Amanda', 'sam', 2000))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [12]:
try:
    cur.execute("INSERT INTO transactions(transaction_id, customer_name, cashier_name, year)\
        VALUES(%s, %s, %s, %s)", \
            ('2', 'Toby', 'sam', 2000))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("INSERT INTO transactions(transaction_id, customer_name, cashier_name, year)\
        VALUES(%s, %s, %s, %s)", \
            ('3', 'Max', 'bob', 2000))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [15]:
try:
    cur.execute("INSERT INTO albums_sold(album_id, transaction_id, album_name)\
        VALUES(%s, %s, %s)", \
            (1, 1, 'Rubber Soul'))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("INSERT INTO albums_sold(album_id, transaction_id, album_name)\
        VALUES(%s, %s, %s)", \
            (2, 1, 'Let it Be'))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("INSERT INTO albums_sold(album_id, transaction_id, album_name)\
        VALUES(%s, %s, %s)", \
            (3, 2, 'My Generation'))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("INSERT INTO albums_sold(album_id, transaction_id, album_name)\
        VALUES(%s, %s, %s)", \
            (4, 3, 'Meet the Beatles'))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("INSERT INTO albums_sold(album_id, transaction_id, album_name)\
        VALUES(%s, %s, %s)", \
            (5, 3, 'Help'))
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [16]:
print("Table: transactions\n")
try: 
    cur.execute("SELECT * FROM transactions;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions

(1, 'Amanda', 'sam', 2000)
(2, 'Toby', 'sam', 2000)
(3, 'Max', 'bob', 2000)

Table: albums_sold

(1, 1, 'Rubber Soul')
(2, 1, 'Let it Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help')

In [17]:

try: 
    cur.execute("SELECT * FROM transactions JOIN albums_sold ON transactions.transaction_id\
         = albums_sold.transaction_id ;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'sam', 2000, 1, 1, 'Rubber Soul')
(1, 'Amanda', 'sam', 2000, 2, 1, 'Let it Be')
(2, 'Toby', 'sam', 2000, 3, 2, 'My Generation')
(3, 'Max', 'bob', 2000, 4, 3, 'Meet the Beatles')
(3, 'Max', 'bob', 2000, 5, 3, 'Help')

In [25]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions2 (transaction_id int, customer_name varchar\
        , employee_id int, year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS employees (employee_id int,  name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [26]:
try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, employee_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, 'Amanda', 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, employee_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, 'Toby', 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, employee_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, 'Max', 2, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [20]:
try: 
    cur.execute("INSERT INTO employees (employee_id, name) \
                 VALUES (%s, %s)", \
                 (1, "sam"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employees (employee_id, name) \
                 VALUES (%s, %s)", \
                 (2, "bob"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [27]:
print("Table: transactions2\n")
try: 
    cur.execute("SELECT * FROM transactions2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: employees\n")
try: 
    cur.execute("SELECT * FROM employees;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions2

(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2000)

Table: albums_sold

(1, 1, 'Rubber Soul')
(2, 1, 'Let it Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help')

Table: employees

(1, 'sam')
(2, 'bob')

In [28]:
try: 
    cur.execute("SELECT * FROM (transactions2 JOIN employees ON \
                               transactions2.employee_id = employees.employee_id) JOIN \
                               albums_sold ON transactions2.transaction_id=albums_sold.transaction_id;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 1, 2000, 1, 'sam', 1, 1, 'Rubber Soul')
(1, 'Amanda', 1, 2000, 1, 'sam', 2, 1, 'Let it Be')
(2, 'Toby', 1, 2000, 1, 'sam', 3, 2, 'My Generation')
(3, 'Max', 2, 2000, 2, 'bob', 4, 3, 'Meet the Beatles')
(3, 'Max', 2, 2000, 2, 'bob', 5, 3, 'Help')

In [29]:
cur.close()
conn.close()

In [ ]:
#TODO: Write markdown for each steps