# Connecting to the database
- Import postgres library for python
- Create a connection to the database
- Get a cursor from the connection
- Enable auto commit

In [1]:
import psycopg2

In [2]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=udacity user=postgres password=poklpokl")
except psycopg2.Error as e:
    print("Error: Could not make connection to postgres database")
    print(e)

- Template for error handling
try:

except psycopg2.Error as e:
    print("Error: ")
    print(e)

In [3]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Unable to get cursor")
    print(e)

In [5]:
try:
    conn.set_session(autocommit=True)
except psycopg2.Error as e:
    print("Error: Unable to enable autocommit")
    print(e)

In [32]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS customer_transactions (customer_id int, store_id int, spent float);")
except psycopg2.Error as e:
    print("Error: creating table")
    print(e)

In [33]:
try:
    cur.execute("INSERT INTO customer_transactions (customer_id, store_id, spent)\
        VALUES (%s,%s,%s)", (1, 1, 20.5))
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

try:
    cur.execute("INSERT INTO customer_transactions (customer_id, store_id, spent)\
        VALUES (%s,%s,%s)", (2, 1, 35.5))
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

In [11]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS items_purchased (customer_id int, item_number int, item_name varchar)")
except psycopg2 as e:
    print("Error: creating table")
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS customer (customer_id int, name varchar, rewards bool)")
except psycopg2 as e:
    print("Error: creating table")
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS store (store_id int, state varchar)")
except psycopg2 as e:
    print("Error: creating table")
    print(e)

In [18]:
try:
    cur.execute("INSERT INTO items_purchased (customer_id, item_number, item_name)\
        VALUES (%s,%s,%s)", (1, 1, "Rubber Soul"))
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

try:
    cur.execute("INSERT INTO items_purchased (customer_id, item_number, item_name)\
        VALUES (%s,%s,%s)", (2, 3, "Let it Be"))
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

In [19]:
try:
    cur.execute("INSERT INTO customer (customer_id, name, rewards)\
        VALUES (%s,%s,%s)", (1, "Amanda", True))
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

try:
    cur.execute("INSERT INTO customer (customer_id, name, rewards)\
        VALUES (%s,%s,%s)", (2, "Toby", False))
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

In [21]:
try:
    cur.execute("INSERT INTO store (store_id, state)\
        VALUES (%s,%s)", (1, "CA"))
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

try:
    cur.execute("INSERT INTO store (store_id, state)\
        VALUES (%s,%s)", (2, "WA"))
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

In [39]:
try:
    cur.execute("SELECT name, store.store_id, store.state, item_name, customer.rewards FROM(((customer_transactions \
          JOIN customer ON customer_transactions.customer_id = customer.customer_id)\
          JOIN store ON customer_transactions.store_id = store.store_id)\
          JOIN items_purchased ON customer_transactions.customer_id = items_purchased.customer_id) where spent > 30")
except psycopg2.Error as e:
    print("Error: Inserting into fact table")
    print(e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('Toby', 1, 'CA', 'Let It Be', False)
('Toby', 1, 'CA', 'Let it Be', False)